body {
  background: linear-gradient(135deg,#000,#300000);
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #111;
  border: 2px solid red;
  padding: 20px;
  margin: 50px auto;
  width: 300px;
  border-radius: 10px;
}

input {
  display:block;
  width:90%;
  margin:10px auto;
  padding:8px;
}

button {
  background:red;
  color:white;
  border:none;
  padding:10px;
  margin:5px;
  border-radius:8px;
  cursor:pointer;
}

button:hover {
  background:white;
  color:red;
}

.map button {
  font-size:18px;
}

.ui {
  background:#111;
  border:2px solid red;
  margin:10px;
  padding:10px;
}
